.functions {
    padding-top: 94px;
    padding-bottom: 94px;
}

.functions__section-none {
    display: none;
}

.functions__quality-section {
    display: flex;
    flex-wrap: nowrap;
}

.functions__quality { 
    width: 1200px;   
}

.functions__quality-group {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 270px;
    height: 120px;
    background: var(--background-color-team);
    border-radius: 4px;
    margin-bottom: 30px;
}

.functions__images {

}

.functions__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 10px;
}

.functions__quality-section .functions__quality:not(:last-child) {
    margin-right: 30px;
}

.functions__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
}
