.illustrate {
    padding-bottom: 94px;
}

.container__illustrate {
    text-align: center;
}

.options {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.options__img {
    display: block;
}


.options__group {
    margin-right: 30px;
    position: relative;
    text-align: center;
}

.options__group:nth-child(3n) {
    margin-right: 0;
}

.options__title {
    position: absolute;
    bottom: 0;

    /* border: 1px solid tomato; */
    height: 70px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #fff;
    text-decoration: none;
    background-color: rgba(47, 48, 58, 0.8);

}


